/*------------------------------------------------------------------
Project:	Portfolio Filipe Ribeiro
Version:	1.3
Last change:	05/09/2024
Assigned to:	www.filipegribeiro.com 
-------------------------------------------------------------------*/

/*------------------------------------------------------------------

01. General Setting
02. Navigation
03. Hero Section (Home)
04. About Section
05. Resume Section
06. My Skills Section
07. Projects Section
08. Contact Me
09. Footer

-------------------------------------------------------------------*/

/** <!-- ************* LOADER ************* --> */

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #000;
	color: #aaff00;
	font-family: 'Fira Code', monospace;
	font-size: 16px;
	line-height: 2;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader pre {
	white-space: pre-line;
	text-align: left;
	animation: blink 1s infinite step-end;
}

@keyframes blink {
	from,
	to {
		border-right: 2px solid transparent;
	}
	50% {
		border-right: 2px solid #aaff00;
	}
}

/*--------------------------------------------------
	01. General Settings
---------------------------------------------------*/

:root {
	/* colors */
	--success: #06d634;
	--error: #ed2222;
	--warning: #f7a800;
	--info: #3498db;
}

/** <!-- ************* GLOBAL RESET ************* --> */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	border: 1px solid #f7a800;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

main {
	display: block !important;
}

/* Smooth scroll and default body styles */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000000;
	color: #f2f2f2;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: #000000;
	border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
	background: #aaff00;
	border-radius: 2px;
	border: 1px solid #000000;
}

@supports not selector(::-webkit-scrollbar) {
	body {
		scrollbar-color: #aaff00 #000000;
	}
}

/*--------------------------------------------------
	NEW:  General Responsiveness and Section Anchoring
---------------------------------------------------*/

/* Section Widths */
.section {
	padding: clamp(1rem, 4vw, 5rem);
	max-width: 1200px;
	margin: 0 auto;
	scroll-margin-top: 80px;
}

/*--------------------------------------------------
	NEW: Fade-in Animation for All Sections
---------------------------------------------------*/

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 1s ease forwards;
	animation-delay: 0.3s;
}

/** <!-- ************* LAYOUT ************* --> */

/** <!-- ========== HEADER ========== --> */

/*--------------------------------------------------
	02. Navigation
---------------------------------------------------*/

.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	box-sizing: border-box;
	height: 4.375;
	padding: 2.5rem;
	background: #000000;
	font-weight: 400;
	z-index: 1000;
}

.header::before {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1s;
}

.logo {
	position: relative;
	font-size: 1.5rem;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: 600;
}

.logo::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1s;
}

/** <!-- ========== NAVBAR ========== --> */

.navbar a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: 500;
	transition: 0.3s;
	gap: 1.5rem;
	padding: 0 10px;
}

li {
	display: inline-block;
	padding: 0px 10px;
	position: relative;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1s;
}

.navbar a:hover:after {
	color: #aaff00;
	width: 100%;
}

.navbar a:hover,
.navbar a.active {
	color: #aaff00;
}

#btn-mobile {
	display: none;
}

/* Button */

@media (max-width: 991px) {
	#btn-mobile {
		display: flex;
		position: absolute;
		right: 38px;
		top: 20px;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		border: none;
		background: none;
		z-index: 1100;
		cursor: pointer;
		gap: 0.5rem;
	}

	#menu {
		position: fixed;
		width: 0;
		right: 0;
		top: 0;
		height: 100vh;
		background-color: #000000;
		color: #aaff00;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		overflow-y: auto;
		visibility: visible;
		border: 1px solid #c1fa4f;
		border-radius: 5px;
		transition: width 0.6s ease;
		gap: 2.5rem;
	}

	#nav.active #menu {
		width: 50%;
	}

	.navbar a:hover:after {
		color: #aaff00;
		width: 65%;
	}

	#menu a {
		color: #aaff00;
		text-decoration: none;
		font-size: 18px;
		padding: 15px 20px;
		margin-right: 2.5rem;
		margin-left: -12px;
		text-align: right;
		transition: color 0.3s ease;
	}

	#menu a:hover {
		color: #ffffff;
		transform: scale(1.05);
	}

	#hamburger {
		border-top: 2px solid;
		width: 20px;
		color: #f2f2f2;
		background-color: #000000;
	}

	#hamburger:hover,
	#hamburger.active {
		color: #aaff00;
	}

	#hamburger::after,
	#hamburger::before {
		content: '';
		display: block;
		width: 20px;
		height: 2px;
		background: currentColor;
		margin-top: 5px;
		transition: 0.3s;
		position: relative;
	}

	#nav.active #hamburger {
		border-top-color: transparent;
	}

	#nav.active #hamburger::before {
		transform: rotate(135deg);
	}

	#nav.active #hamburger::after {
		transform: rotate(-135deg);
		top: -7px;
	}
}

/** <!-- ========== MAIN ========== --> */

/*--------------------------------------------------
	03. Home Section
---------------------------------------------------*/

/* Home */
.home {
	display: flex;
	align-items: left;
	height: 100vh;
	margin-top: 2rem;
	padding: 8rem;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #000000 5%, #00000000 40%, #00000000 60%, #000000 92%);
	background-size: 25rem;
	background-position: right;
}

.home-content {
	padding-right: 1rem;
	padding-top: 3rem;
	margin-top: 4.5rem;
	width: 900px;
}

.home-content h1 {
	position: relative;
	color: #f2f2f2;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.2;
}

.home-content h1::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 0.5s ease forwards;
	animation-delay: 0.5s;
}

.home-content h3 {
	position: relative;
	color: #f2f2f2;
	font-size: 28px;
	font-weight: 700;
}

/* * * testing multiple text * * */

.home-content .multiple-text {
	color: #aaff00;
	font-size: 34px;
	font-weight: 800;
}

.home-content h3::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.3s;
}

.header-text h3 {
	color: #aaff00;
}

.color {
	color: #aaff00;
}

.home-content p {
	position: relative;
	font-size: 20px;
	line-height: 2;
	margin: 20px 0 40px;
	font-weight: 900;
}

.home-content p::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.6s;
}

.home-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 50px;
}

.home-content .btn-box::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.9s;
	z-index: 2;
}

.btn-box a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 100%;
	background: #aaff00;
	border: 2px solid #aaff00;
	border-radius: 8px;
	font-size: 19px;
	color: #141414;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.5px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}

.btn-box a:hover {
	color: #aaff00;
}

.btn-box a:nth-child(2) {
	background: transparent;
	color: #aaff00;
}

.btn-box a:nth-child(2):hover {
	color: #141414;
}

.btn-box a:nth-child(2)::before {
	background: #aaff00;
}

.btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #141414;
	z-index: -1;
	transition: 0.5s;
}

.btn-box a:hover::before {
	width: 100%;
}

/*--------------------------------------------------
	04. About Section
---------------------------------------------------*/

.about {
	height: 150vh;
	display: flex;
	flex-direction: column;
	padding-top: 8rem;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, #000000 5%, #00000000 40%, #00000000 60%, #000000 92%);
	background-size: 25rem;
	background-position: right;
}

.about-content {
	padding-left: 2.5rem;
}

.sub-title-about {
	font-size: 32px;
	font-weight: 700;
	color: #f2f2f2;
	position: relative;
	line-height: 1.2;
	margin-bottom: 40px;
}

.sub-title-about::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	color: #f2f2f2;
	animation: showRight 1s ease forwards;
	animation-delay: 1.3s;
}

.multiple-text-about {
	color: #aaff00;
	font-size: 38px;
	font-weight: 800;
}

.multiple-text-about::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.3s;
}

.about-content p {
	position: relative;
	font-size: 20px;
	line-height: 2;
	margin: 20px 0 40px;
}

.about-content p::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.6s;
}

.about-content .btn-box {
	display: flex;
	justify-content: space-between;
	width: 345px;
	height: 60px;
	margin-top: 4.5rem;
	font-size: 600 bold;
	color: #000000;
}

.about-content .btn-box::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.9s;
	z-index: 2;
}

/** Styling for hobbies **/

/* ** About slider - starts ** */
.slider {
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 150vh;
	position: relative;
}

.slider .list .item {
	padding: 2rem;
	position: absolute;
	inset: 0 0 0 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.5s;
}
.slider .list .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider .list .item::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to top, #000 25%, transparent);
}
.slider .list .item .content {
	position: absolute;
	left: 10%;
	top: 20%;
	width: 500px;
	max-width: 80%;
	z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
	font-size: 20px;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.slider .list .item .content p {
	font-size: 20px;
	line-height: 2;
}

.slider .list .item .content h2 {
	font-size: 56px;
	line-height: 2;
	margin: 0;
}
.slider .list .item.active {
	opacity: 1;
	z-index: 10;
}
@keyframes showContent {
	to {
		transform: translateY(0);
		filter: blur(0);
		opacity: 1;
	}
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
	transform: translateY(30px);
	filter: blur(20px);
	opacity: 0;
	animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
	animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
	animation-duration: 1.3s;
}
.arrows {
	position: absolute;
	top: 30%;
	right: 50px;
	z-index: 100;
}
.arrows button {
	background-color: #eee5;
	border: none;
	font-family: monospace;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	font-size: x-large;
	color: #f2f2f2;
	transition: 0.5s;
}
.arrows button:hover {
	background-color: #f2f2f2;
	color: black;
}
.thumbnail {
	position: absolute;
	bottom: 50px;
	z-index: 11;
	display: flex;
	gap: 10px;
	width: 100%;
	height: 250px;
	padding: 0 50px;
	box-sizing: border-box;
	overflow: auto;
	justify-content: center;
}
.thumbnail::-webkit-scrollbar {
	width: 0;
}
.thumbnail .item {
	width: 150px;
	height: 220px;
	filter: brightness(0.3);
	transition: 0.5s;
	flex-shrink: 0;
}
.thumbnail .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.thumbnail .item.active {
	filter: brightness(1.5);
}
.thumbnail .item .content {
	position: absolute;
	inset: auto 10px 10px 10px;
}

/** New Social btns **/

.topics {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-btns {
	display: flex;
	justify-content: center;
	gap: 10px;
	height: 75px;
	width: 300px;
	margin-left: 0px;
}

/** Github **/

.button-container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}

.button1 {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-image: linear-gradient(to right, #333, #000);
	color: #f2f2f2;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transition: all 0.5s ease;
}

.button1:hover {
	transform: translateY(-12px);
	border-radius: 50%;
	background-image: linear-gradient(to right, #c1fa4f, #aaff00);
	color: #000000;
}

/* Ícone do botão */
.icon {
	width: 20px;
	height: 20px;
}

/* Texto animado */
.button-text1 {
	position: absolute;
	opacity: 0;
	color: #aaff00;
	font-size: 14px;
	transition: all 0.7s ease;
	transform: translateY(10px);
}

.button1:hover .button-text1 {
	opacity: 1;
	transform: translateY(-30px);
}

/** LinkedIn **/

/* Container centralizado */
.button-container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}

/* Botão estilizado */
.button2 {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #0077b5;
	color: #f2f2f2;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transition: all 0.5s ease;
}

.button2:hover {
	transform: translateY(-12px);
	border-radius: 50%;
	background-image: linear-gradient(to right, #c1fa4f, #aaff00);
	color: #000000;
}

/* Ícone do botão */
.icon {
	width: 20px;
	height: 20px;
}

/* Texto animado */
.button-text2 {
	position: absolute;
	opacity: 0;
	color: #aaff00;
	font-size: 14px;
	transition: all 0.7s ease;
	transform: translateY(10px);
}

.button2:hover .button-text2 {
	opacity: 1;
	transform: translateY(-30px);
}

/** Discord **/

/* Container centralizado */
.button-container3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
}

/* Botão estilizado */
.button3 {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #7289da;
	color: #f2f2f2;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	transition: all 0.5s ease;
}

.button3:hover {
	transform: translateY(-12px);
	border-radius: 50%;
	background-image: linear-gradient(to right, #c1fa4f, #aaff00);
	color: #000000;
}

/* Ícone do botão */
.icon {
	width: 20px;
	height: 20px;
}

/* Texto animado */
.button-text3 {
	position: absolute;
	opacity: 0;
	color: #aaff00;
	font-size: 14px;
	transition: all 0.7s ease;
	transform: translateY(10px);
}

.button3:hover .button-text3 {
	opacity: 1;
	transform: translateY(-30px);
}

/*--------------------------------------------------
	05. Resume Section
---------------------------------------------------*/

/* Section Base */

.exp-educ {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	gap: 2rem;
	padding: 2rem;
	padding-top: 8rem;
	background-color: #000000;
	color: #f2f2f2;
	margin-top: 8rem;
	margin-bottom: 8rem;
}

.exp-educ::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 0.5s ease forwards;
	animation-delay: 0.5s;
}

.column1,
.column2.exp,
.column2.educ {
	width: 100%;
	max-width: 50%;
}

/* Column1 */
.column1 {
	text-align: center;
}

.education-title {
	font-size: 32px;
	color: #f2f2f2;
	margin-bottom: 1rem;
}

.education-title span {
	color: #aaff00;
	font-size: 38px;
}

.column1 p {
	font-size: 20px;
	line-height: 2;
	color: #f2f2f2;
	margin-bottom: 1.5rem;
}

/* Botões */
.btn-exp,
.btn-educ {
	width: 100%;
	max-width: 150px;
	padding: 10px;
	font-size: 1rem;
	color: #141414;
	background-color: #aaff00;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-bottom: 0.5rem;
}

.btn-exp:hover,
.btn-educ:hover {
	background-color: #000000;
	color: #aaff00;
	border: 1px #aaff00 dashed;
}

.column-exp,
.column-educ {
	display: none;
	text-align: left;
}

.column-exp.active,
.column-educ.active {
	display: block;
}

.column-exp h2,
.column-educ h2 {
	font-size: 28px;
	color: #f2f2f2;
	margin-bottom: 1rem;
}

.column-exp h2 span,
.column-educ h2 span {
	color: #aaff00;
	font-size: 32px;
}

.column-exp p,
.column-educ p {
	font-size: 20px;
	line-height: 2;
	color: #f2f2f2;
	margin-bottom: 2rem;
}

/* Main box */
.main-box {
	max-height: 600px;
	overflow-y: auto;
	padding-right: 10px;
	border: 1px #aaff00 dotted;
}

.main-box::-webkit-scrollbar {
	width: 10px;
}

.main-box::-webkit-scrollbar-track {
	background-color: #141414;
	border-radius: 2px;
}

.main-box::-webkit-scrollbar-thumb {
	background: #aaff00;
	border-radius: 2px;
	border: 1px solid #141414;
}

.main-box .boxes h3 {
	margin-bottom: 0.5rem;
}

.main-box .boxes span {
	margin-bottom: 0.5rem;
	display: block;
}

.main-box .boxes p {
	margin-top: 0.5rem;
}

.boxes {
	background-color: #141414;
	/* border: #aaff00 1px dashed; */
	padding: 1rem;
	border-radius: 8px;
	flex: 1 1 calc(50% - 1rem);
	min-width: 180px;
}

.little-title {
	font-size: 14px;
	color: #aaff00;
	margin-bottom: 0.25rem;
}

.main-tittle {
	font-size: 16px;
	line-height: 2;
	color: #f2f2f2;
	font-weight: bold;
}

.boxes .company {
	font-size: 15px;
	color: #f2f2f2;
	display: flex;
	align-items: center;
}

.company::before {
	content: '•';
	color: #aaff00;
	margin-right: 0.5rem;
}

/*--------------------------------------------------
	06. My Skills Section
---------------------------------------------------*/

.myskills {
	height: 100vh;
	padding-top: 8rem;
	margin-top: 2rem;
}

.sub-title-skills {
	font-size: 32px;
	font-weight: 700;
	color: #f2f2f2;
	position: relative;
	margin: 20px 0 40px;
	margin-left: 2.5rem;
	line-height: 1.2;
	background-color: #000000;
}

.sub-title-skills::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	animation: showRight 1s ease forwards;
	animation-delay: 0.5s;
}

@keyframes showRight {
	0% {
		width: 100%;
		background: #000000;
	}
	100% {
		width: 0;
		background: #000000;
	}
}

.main-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.multiple-text-skills {
	color: #aaff00;
	font-size: 38px;
	font-weight: 800;
}

.multiple-text-skills::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.3s;
}

.action-container {
	width: 350px;
	margin-left: 90px;
}

.heading1 {
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 8px;
	padding-bottom: 50px;
	font-size: 28px;
}

.heading1 span {
	color: #aaff00;
	font-size: 32px;
}

.heading1::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #141414;
	animation: showRight 1s ease forwards;
	animation-delay: 1.3s;
}

.technical-bars {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.bar {
	font-size: 23px;
}

.technical-bars .bar {
	margin-top: 40px 0;
}

.technical-bars .bar:first-child {
	margin-top: 0;
}

.technical-bars .bar:last-child {
	margin-bottom: 0;
}

.technical-bars .bar .info {
	margin-bottom: 5px;
}

.technical-bars .bar .info span {
	font-size: 16px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.technical-bars .bar .progress-line {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 5px;
	background-color: #141414;
	animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}

.technical-bars .bar .progress-line span {
	height: 100%;
	background-color: #aaff00;
	position: absolute;
	border-radius: 10px;
	animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
	transform: scaleX(0);
	transform-origin: left;
}

/* * * BARRA DE PONTUAÇÕES * * */

.progress-line.html span {
	width: 85%;
}

.progress-line.css span {
	width: 75%;
}

.progress-line.javascript span {
	width: 55%;
}

.progress-line.nodejs span {
	width: 55%;
}

.progress-line.mongodb span {
	width: 50%;
}

.progress-line span::after {
	position: absolute;
	padding: 1px 8px;
	background-color: #424242;
	color: #aaff00;
	font-size: 12px;
	border-radius: 3px;
	top: -28px;
	right: -20px;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

/* * * BARRA DE PONTUAÇÕES 2 * * */

.progress-line.html span::after {
	content: '85%';
}

.progress-line.css span::after {
	content: '75%';
}

.progress-line.javascript span::after {
	content: '55%';
}

.progress-line.nodejs span::after {
	content: '55%';
}

.progress-line.mongodb span::after {
	content: '50%';
}

.progress-line span::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
	top: -10px;
	right: 0;
	animation: showText 0.5s 1.5s linear forwards;
	opacity: 0;
}

@keyframes showText {
	100% {
		opacity: 1;
	}
}

.radial-bars {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
}

.radial-bars .radial-bar {
	width: 50%;
	height: 170px;
	margin-bottom: 10px;
	position: relative;
}

.radial-bars .radial-bar svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 120px;
	height: 160px;
}

.radial-bars .radial-bar .progress-bar {
	stroke-width: 10;
	stop-color: blue;
	fill: transparent;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
	animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
	100% {
		stroke-dashoffset: -1;
	}
}

.path {
	stroke-width: 10;
	stroke: #aaff00;
	fill: transparent;
	stroke-dasharray: 502;
	stroke-dashoffset: 502;
	stroke-linecap: round;
}

.path-1 {
	animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
	animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
	animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
	animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
	100% {
		stroke-dashoffset: 50;
	}
}

@keyframes animate-path2 {
	100% {
		stroke-dashoffset: 175;
	}
}

@keyframes animate-path3 {
	100% {
		stroke-dashoffset: 125;
	}
}

@keyframes animate-path4 {
	100% {
		stroke-dashoffset: 75;
	}
}

.radial-bar .percentage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	font-weight: bold;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

.radial-bar .text {
	width: 100%;
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 500;
	animation: showText 0.5s 1s linear forwards;
	opacity: 0;
}

/*--------------------------------------------------
	07. Projects Section
---------------------------------------------------*/
.projects {
	height: 120vh;
	padding-top: 8rem;
}

.section-title {
	margin: 20px 0 40px;
	margin-left: 2.5rem;
	font-size: 32px;
}

.section-title .multiple-text {
	color: #aaff00;
	font-size: 38px;
}

.project-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1.5rem;
	padding: 2rem;
}

.project-card {
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1.5rem;
	border: 2px solid #aaff00;
	border-radius: 3rem;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.project-card:hover {
	background-color: #363636;
	color: #aaff00;
	transform: translateY(-10px) scale(1.02);
}

.project-card img {
	width: 16vw;
	border-radius: 1rem;
}

.btn-box-card a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	background: #aaff00;
	border: 2px solid #aaff00;
	border-radius: 8px;
	font-size: 19px;
	color: #141414;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.5px;
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}

.btn-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 150px;
	height: 125px;
}

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	padding: 0.45rem 0.35rem;
	border: 2px solid #aaff00;
	color: #000000;
	background-color: #aaff00;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.project-card:hover .btn {
	border: 2px solid #aaff00;
	color: #000000;
}

.project-card:hover .btn:hover {
	border: 2px solid white;
	background-color: #141414;
	color: #aaff00;
	transition: 0.5s;
}

.project-card h3 {
	font-size: 1.2rem;
	font-weight: 800;
}

.project-card p {
	font-size: 16px;
	line-height: 2;
}

.btn-box a:hover {
	color: #aaff00;
}

.btn-box a:nth-child(2) {
	background: transparent;
	color: #aaff00;
}

.btn-box a:nth-child(2):hover {
	color: #141414;
}

.btn-box a:nth-child(2)::before {
	background: #aaff00;
}

.btn-box a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #141414;
	z-index: -1;
	transition: 0.5s;
}

.btn-box a:hover::before {
	width: 100%;
}

/*--------------------------------------------------
	08. Contact Me
---------------------------------------------------*/

.contact {
	height: 75vh;
	padding-top: 4rem;
	margin-top: 2rem;
	background: #000000;
	color: #f2f2f2;
}

.sub-title-contact {
	margin: 20px 0 40px;
	margin-left: 2.5rem;
	font-size: 32px;
	font-weight: 700;
	color: #f2f2f2;
	position: relative;
	line-height: 1.2;
}

.contact-form {
	margin-left: 6.5rem;
	margin-right: 6.5rem;
}

.highlight {
	color: #aaff00;
	font-size: 38px;
}

.contact-description {
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}

.form-group {
	margin-bottom: 20px;
}

.form-group label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	display: block;
	align-items: center;
	align-content: center;
	width: 75%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #aaff00;
	border-radius: 5px;
	background: #141414;
	color: #f2f2f2;
}

.submit-btn {
	display: inline-block;
	padding: 10px 20px;
	background: #aaff00;
	color: #000000;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
	transition: background 0.3s;
}

.submit-btn:hover {
	background: #000000;
	color: #aaff00;
	border: 1px #aaff00 solid;
}

/* * * TOASTS * * */

/* Toast Container */
.toast-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: 600px;
	padding: 10px;
	pointer-events: none;
}

.toast {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	transition: opacity 0.3s ease, top 0.3s ease;
	z-index: 9999;
}

.toast.show {
	opacity: 1;
}

.toast .icon {
	margin-right: 8px;
}

.toast.success {
	background-color: #06d634;
	color: black;
}

.toast.error {
	background-color: #ed2222;
	color: black;
}

.toast.warning {
	background-color: #f7a800;
	color: black;
}

.toast.info {
	background-color: #3498db;
	color: white;
}

/*--------------------------------------------------
	09. Footer
---------------------------------------------------*/
.footer {
	height: 0vh;
	padding-top: 2rem;
	background: #000000;
	text-align: center;
}

.footer-content p {
	margin: 20px 0 40px;
	margin-left: 2.5rem;
	font-size: 14px;
	color: #f2f2f2;
}

.footer-content .social-icons a {
	color: #aaff00;
	font-size: 30px;
	margin: 0 10px;
	transition: color 0.3s;
}

.footer-content .social-icons a:hover {
	color: #c1fa4f;
}

/*--------------------------------------------------
	10. Responsiveness (Mobile First)
---------------------------------------------------*/

/* Small Devices (320px - 480px) */
@media (min-width: 320px) and (max-width: 480px) {
	html {
		font-size: 10px;
		font-weight: bold;
	}

	.logo {
		font-size: 28px;
	}

	#btn-mobile {
		display: flex;
		position: absolute;
		right: 15px;
		top: 30px;
		padding: 0.5rem;
		font-size: 0.875rem;
		border: none;
		background: none;
		z-index: 1100;
		cursor: pointer;
		gap: 0.5rem;
	}

	#menu {
		gap: 3rem;
	}

	.home {
		padding-top: 12rem;
		align-items: center;
		height: fit-content;
		flex-direction: column;
		background-position: center;
	}

	.home-content {
		padding: 5rem;
		width: 180%;
		margin-top: 1rem;
		height: fit-content;
	}

	.home-content h1 {
		font-size: 32px;
	}

	.home-content .multiple-text {
		font-size: 26px;
	}

	.home-content h3 {
		padding-top: 2rem;
		font-size: 20px;
		line-height: 1.5;
	}

	.home-content p {
		padding-top: 2rem;
		font-size: 16px;
		line-height: 2;
	}

	.home-content .btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 120px;
		gap: 2.5rem;
	}

	.about {
		padding-top: 12rem;
		height: fit-content;
	}

	.about h2 {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.multiple-text-about {
		font-size: 26px;
	}

	.sub-title-about {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.about-content p {
		font-size: 16px;
		line-height: 2;
	}

	.about-content .slider {
		height: 400px;
	}

	.slider .list .item {
		height: auto;
		padding: 2rem;
	}

	.slider .list .item .content h2 {
		font-size: 52px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.slider .list .item .content p {
		font-size: 16px;
		line-height: 2;
	}

	.arrows {
		top: 10%;
	}

	.thumbnail {
		justify-content: start;
	}

	.exp-educ {
		padding-top: 10rem;
		height: fit-content;
		flex-direction: column;
		gap: 4rem;
	}

	.column1,
	.column-exp,
	.column-educ {
		max-width: 100%;
	}

	.education-title {
		text-align: start;
		font-size: 22px;
		padding-bottom: 25px;
	}

	.education-title span {
		text-align: start;
		font-size: 26px;
	}

	.column1 p {
		font-size: 16px;
		line-height: 2;
		padding-bottom: 25px;
	}

	.btn-exp,
	.btn-educ {
		height: 50px;
		font-size: 16px;
	}

	.column-exp h2,
	.column-educ h2 {
		text-align: center;
		font-size: 20px;
		padding-bottom: 15px;
	}

	.column-exp h2 span,
	.column-educ h2 span {
		font-size: 24px;
		text-align: center;
	}

	.column-exp p,
	.column-educ p {
		font-size: 16px;
		line-height: 2;
		padding-bottom: 25px;
	}

	.little-title {
		font-size: 16px;
	}

	.main-tittle {
		font-size: 16px;
		line-height: 2;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.company {
		font-size: 16px;
	}

	.myskills {
		padding-top: 12rem;
		height: fit-content;
	}

	.myskills h1 {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.multiple-text-skills {
		font-size: 26px;
	}

	.main-container {
		flex-direction: column;
		align-items: center;
	}

	.action-container {
		margin-left: 0;
		margin-bottom: 1.5rem;
		width: 100%;
	}

	.action-container h2 {
		font-size: 20px;
	}

	.action-container span {
		font-size: 24px;
	}

	.technical-bars {
		padding: 2rem;
	}

	.radial-bar .percentage {
		font-size: 16px;
	}

	.radial-bar .text {
		font-size: 16px;
	}

	.projects {
		padding-top: 8rem;
		margin-top: 1rem;
		height: fit-content;
	}

	.section-title {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.projects .multiple-text {
		font-size: 26px;
		color: #aaff00;
	}

	.project-grid {
		padding: 2rem;
	}

	.project-card {
		padding: 1.5rem;
	}

	.project-card img {
		width: 100%;
		height: auto;
	}

	.project-card h3 {
		font-size: 20px;
	}

	.project-card p {
		font-size: 16px;
	}

	.btn {
		width: 135px;
		height: 50px;
	}

	.contact {
		padding-top: 15rem;
		height: fit-content;
	}

	.sub-title-contact {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.highlight {
		font-size: 26px;
	}

	.contact-description {
		padding: 2rem;
		font-size: 16px;
		line-height: 2;
	}

	.contact-form {
		padding: 2rem;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		align-content: center;
	}

	.label {
		font-size: 16px;
	}

	.form-group input {
		align-content: center;
		margin-bottom: 50px;
	}

	.footer {
		padding-top: 8rem;
		height: fit-content;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-content p {
		text-align: center;
		font-size: 16px;
		line-height: 2;
	}
}

/* Medium Devices (481px - 768px) */

@media (min-width: 481px) and (max-width: 768px) {
	html {
		font-size: 12px;
		font-weight: bold;
	}

	.header {
		justify-content: space-between;
	}

	.logo {
		font-size: 28px;
	}

	#btn-mobile {
		display: flex;
		position: absolute;
		right: 20px;
		top: 30px;
		padding: 0.5rem;
		font-size: 1rem;
		border: none;
		background: none;
		z-index: 1100;
		cursor: pointer;
		gap: 0.5rem;
	}

	#menu {
		position: fixed;
		top: 0;
		right: 0;
		width: 0;
		height: 100vh;
		background-color: #000000;
		color: #aaff00;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: width 0.6s ease;
		gap: 2.5rem;
	}

	.home {
		padding-top: 8rem;
		height: fit-content;
		flex-direction: column;
		background-position: center;
	}

	.home-content {
		padding: 0;
		width: 100%;
	}

	.home-content p {
		font-size: 16px;
		line-height: 2;
		padding: 2rem;
	}

	.home-content h1 {
		font-size: 36px;
	}

	.home-content h3 {
		padding-top: 16px;
		font-size: 26px;
	}

	.home-content .multiple-text {
		font-size: 28px;
	}

	.btn-box {
		gap: 8px;
	}

	.btn-box a {
		margin-bottom: 10px;
	}

	.about {
		height: fit-content;
		padding-top: 11rem;
	}

	.about h2 {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.about-content .sub-title-about {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.multiple-text-about {
		font-size: 26px;
	}

	.about-content p {
		font-size: 16px;
		line-height: 2;
	}

	.slider {
		height: 900px;
	}

	.slider .list .item {
		padding: 2rem;
	}

	.slider .list .item .content h2 {
		font-size: 50px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.slider .list .item .content p {
		font-size: 15px;
		line-height: 2;
	}

	.thumbnail {
		justify-content: start;
	}

	.arrows {
		top: 10%;
	}

	.exp-educ {
		padding-top: 9rem;
		height: fit-content;
		flex-direction: column;
		gap: 8rem;
	}

	.column1,
	.column-exp,
	.column-educ {
		max-width: 100%;
	}

	.education-title {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.education-title span {
		font-size: 26px;
	}

	.column1 p {
		font-size: 16px;
		line-height: 2;
	}

	.main-box {
		max-height: 300px;
	}

	.btn-exp,
	.btn-educ {
		font-size: 16px;
	}

	.column-exp p,
	.column-educ p {
		font-size: 16px;
		line-height: 2;
	}

	.column-exp h2,
	.column-educ h2 {
		font-size: 20px;
		padding-bottom: 25px;
	}

	.column-exp h2 span,
	.column-educ h2 span {
		font-size: 24px;
	}

	.boxes h3,
	.boxes span,
	.boxes p {
		font-size: 16px;
	}

	.myskills {
		padding-top: 8rem;
		height: fit-content;
	}

	.sub-title-skills {
		padding-bottom: 25px;
		font-size: 22px;
	}

	.multiple-text-skills {
		font-size: 26px;
	}

	.main-container {
		flex-direction: column;
		align-items: center;
	}

	.action-container {
		margin-left: 0;
		margin-bottom: 2rem;
		width: 100%;
	}

	.heading1 {
		font-size: 20px;
	}

	.heading1 span {
		font-size: 24px;
	}

	.technical-bars {
		padding: 2rem;
	}

	.technical-bars .bar .info span {
		font-size: 16px;
	}

	.radial-bar .text {
		font-size: 16px;
	}

	.projects {
		padding-top: 8rem;
		gap: 2rem;
		height: fit-content;
	}

	.section-title {
		font-size: 22px;
		padding-bottom: 25px;
	}

	.section-title .multiple-text {
		font-size: 26px;
		color: #aaff00;
	}

	.project-grid {
		padding: 2rem;
	}

	.project-card {
		padding: 1.5rem;
		font-size: 16px;
	}

	.project-card img {
		width: 26vw;
	}

	.btn-group {
		height: 75px;
	}

	.contact {
		padding-top: 8rem;
		height: fit-content;
	}

	.sub-title-contact {
		font-size: 22px;
		padding-bottom: 16px;
	}

	.highlight {
		font-size: 26px;
	}

	.contact-description {
		padding: 2rem;
		line-height: 2;
		font-size: 16px;
	}

	.contact-form {
		padding: 1rem;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.footer {
		padding-top: 5rem;
		height: fit-content;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-content p {
		text-align: center;
		font-size: 16px;
		line-height: 2;
	}
}

/* Estilos para Tablets (768px até 991px) */
@media (min-width: 768px) and (max-width: 991px) {
	.home {
		padding-top: 8rem;
		margin-top: 12rem;
		background-position: center;
		height: auto;
		flex-direction: column;
	}

	#btn-mobile {
		top: 35px;
	}

	.logo {
		font-size: 28px;
	}

	.home-content {
		padding: 0;
		width: 100%;
		margin-top: 2rem;
	}

	.home-content h1 {
		font-size: 48px;
	}

	.home-content h3 {
		font-size: 20px;
	}

	.home-content .multiple-text {
		font-size: 22px;
	}

	.btn-box {
		width: 70%;
	}

	.social-btns {
		justify-content: flex-start;
	}

	.about {
		height: 100%;
		padding-top: 8rem;
	}

	.about h2 {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.multiple-text-about {
		font-size: 38px;
	}

	.sub-title-about {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.about-content p {
		font-size: 16px;
	}

	.slider {
		height: 900px;
	}

	.slider .list .item {
		padding: 2rem;
	}

	.slider .list .item .content h2 {
		font-size: 50px;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.slider .list .item .content p {
		font-size: 15px;
		line-height: 2;
	}

	.thumbnail {
		justify-content: center;
	}

	.arrows {
		top: 10%;
	}

	.social-btns {
		justify-content: center;
	}

	.exp-educ {
		padding-top: 12rem;
		flex-direction: column;
		gap: 8rem;
	}

	.column1,
	.column-exp,
	.column-educ {
		max-width: 100%;
	}

	.education-title {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.education-title span {
		font-size: 38px;
	}

	.column1 p {
		font-size: 18px;
		line-height: 2;
		padding-bottom: 25px;
	}

	.btn-exp,
	.btn-educ {
		font-size: 16px;
	}

	.column-exp p,
	.column-educ p {
		font-size: 16px;
		line-height: 2;
	}

	.column-exp h2,
	.column-educ h2 {
		font-size: 30px;
	}

	.column-exp h2 span,
	.column-educ h2 span {
		font-size: 36px;
	}

	.main-box {
		padding: 2rem;
		max-height: 325px;
	}

	.boxes h3,
	.boxes span,
	.boxes p {
		font-size: 16px;
	}

	.myskills {
		padding-top: 8rem;
		gap: 2rem;
		height: fit-content;
	}

	.sub-title-skills {
		font-size: 32px;
	}

	.multiple-text-skills {
		font-size: 38px;
	}

	.main-container {
		padding: 2rem;
		flex-direction: column;
		align-items: center;
	}

	.action-container {
		margin-left: 0;
		margin-bottom: 2rem;
		width: 100%;
	}

	.heading1 {
		padding-top: 3rem;
		font-size: 30px;
	}

	.heading1 span {
		font-size: 32px;
	}

	.technical-bars .bar .info span {
		font-size: 18px;
	}

	.projects {
		padding-top: 8rem;
		gap: 2rem;
		height: fit-content;
	}

	.section-title {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.multiple-text {
		font-size: 38px;
		color: #aaff00;
	}

	.project-grid {
		padding: 2rem;
	}

	.project-card {
		padding: 2rem;
		font-size: 16px;
	}

	.contact {
		padding-top: 6rem;
		height: fit-content;
	}

	.contact-form {
		padding: 2rem;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.footer {
		padding-top: 2rem;
		height: fit-content;
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-content p {
		text-align: center;
		font-size: 16px;
		line-height: 2;
	}
}

/* Estilos para Desktops (1200px e acima) */
@media (min-width: 992px) and (max-width: 1200px) {
	.home {
		padding: 8rem;
		background-position: right;
	}

	.home-content h1 {
		font-size: 56px;
	}

	.home-content h3 {
		font-size: 26px;
	}

	.multiple-text {
		font-size: 32px;
	}

	.btn-box {
		width: 345px;
	}

	.about {
		padding-top: 8rem;
		height: fit-content;
	}

	.sub-title-about {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.multiple-text-about {
		font-size: 38px;
	}

	.slider .list .item {
		padding: 2rem;
	}

	.slider .list .item .content h2 {
		line-height: 2;
	}

	.social-btns {
		justify-content: center;
	}

	.exp-educ {
		padding-top: 8rem;
		height: fit-content;
	}

	.education-title {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.education-title span {
		font-size: 38px;
	}

	.column1 p {
		font-size: 18px;
		line-height: 2;
	}

	.column-exp h2,
	.column-educ h2 {
		font-size: 30px;
	}

	.column-exp h2 span,
	.column-educ h2 span {
		font-size: 32px;
	}

	.column-exp p,
	.column-educ p {
		font-size: 18px;
		line-height: 2;
	}

	.little-title {
		font-size: 16px;
	}

	.main-tittle {
		font-size: 18px;
	}

	.main-box {
		max-height: 500px;
	}

	.main-box .boxes .company {
		font-size: 14px;
		height: fit-content;
	}

	.myskills {
		padding-top: 8rem;
		height: fit-content;
	}

	.sub-title-skills {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.myskills .multiple-text-skills {
		font-size: 38px;
	}

	.main-container .action-container .heading1 {
		font-size: 30px;
	}

	.main-container .action-container .heading1 span {
		font-size: 32px;
	}

	.technical-bars .bar .info span {
		font-size: 18px;
	}

	.radial-bar .text,
	.radial-bar .percentage {
		font-size: 18px;
	}

	.projects {
		padding-top: 8rem;
		height: fit-content;
	}

	.section-title {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.section-title .multiple-text {
		font-size: 38px;
		color: #aaff00;
	}

	.project-grid {
		padding: 2rem;
	}

	@media (min-width: 1090px) {
		.project-card img {
			width: 15vw;
		}
	}

	.contact {
		height: fit-content;
	}

	.sub-title-contact {
		font-size: 32px;
		padding-bottom: 25px;
	}

	.highlight {
		font-size: 38px;
	}

	.contact-description {
		font-size: 18px;
		line-height: 2;
	}

	.contact-form .form-group label {
		font-size: 18px;
	}

	.submit-btn {
		font-size: 18px;
	}

	.footer {
		padding-top: 2rem;
		height: fit-content;
	}

	.footer-content p {
		font-size: 18px;
	}
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
	100% {
		width: 0;
	}
}
